server:
  service:
    type: ClusterIP

configs:
  params:
    server.insecure: "true"
  cm:
    url: http://localhost:8080
    dex.config: |
      connectors:
        - type: oidc
          id: keycloak
          name: Keycloak
          config:
            Issuer: https://auth.qraft.ai/realms/qraft
            clientID: argocd-test-yujin
            clientSecret: 13hPQRuFBQGvCwJH6JatLekXJndNoURZ
            redirectURI: http://localhost:8080/api/dex/callback
            requestedScopes: ["openid", "profile", "email", "groups"]

redis:
  secretInitContainer:
    enabled: false
