# https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml
## Argo Configs
configs:
  cm:
    dex.config: |
      connectors:
        - type: oidc
          id: keycloak
          name: Keycloak
          config:
            Issuer: https://auth.qraft.ai/realms/qraft
            clientID: argocd-test-yujin
            clientSecret: 13hPQRuFBQGvCwJH6JatLekXJndNoURZ
            requestedScopes: ["openid", "profile", "email", "groups"]
