apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  namespace: argocd
data:
  values.csv: |
{{ .Files.Get "policies/values.csv" | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: argocd
data:
  url: {{ .Values.configs.cm.url }}
  dex.config: |
{{ index .Values.configs.cm "dex.config" }}
